<div class="container">
  <h1><%= @user.username %></h1>

  <div id="user_info">
    <h2>User Information</h2>
    <p id="fullname"><%= @user.fullname %></p>
    <p id="email"><%= @user.email %></p>
  </div>

  <div class="albums">
    <h2>Albums</h2>
    <% @user.albums.each do |album| %>
      <div class="album">
        <div class="title"><%= album.title %></div>
        <img class="cover" src="<%= album.photos.first.file %>" alt="<%= album.photos.first.identifier %>">
        <div class="description"><%= album.description %></div>
        <a href="/albums/:album_id/delete">delete</a>
      </div>
    <% end %>
  </div>
</div>